.score-card {
  background-image: url(https://assets.ccbp.in/frontend/react-js/match-game-score-card-lg-bg.png);
  height: 100vh;
  background-size: cover;
  height: 500px;
  width: 400px;
  margin-left: 50px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}

.trophy {
  width: 200px;
  height: 150px;
  margin-top: 50px;
}

.play-again-btn {
  background-color: #cf60c8;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border: none;
  width: 120px;
  padding-top: 7px;
  padding-bottom: 7px;
  color: #ffffff;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 10px;
}

.reset {
  width: 20px;
  height: 20px;
}
